.statsDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mapDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 3em;
}

.map {
    height: 30em;
    width: 30em;
}

.chartsDiv {
    margin-top: 2em;
    margin-left: 12em;
}

.pieChart {
    height: 18em;
    width: 18em;
}

.barChart {
    margin-top: 7em;
    height: 20em;
    width: 20em;
}