.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
    font-family: 'Alef';
    width: 100%;
  }

  .sidenav {
      width: 15em;
      background: rgb(219, 217, 217);
      border-right: 1px solid gray;
  }